<!DOCTYPE html>
<html class="dark" lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="ISO-8859-1">
    <title>Add Event</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-gray-800 min-h-screen flex items-center justify-center">

<section class="container mx-auto p-4">

    <div class="max-w-xl mx-auto mt-10 p-8 bg-white shadow-lg rounded-lg mb-8">

        <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Add New Event</h2>

        <form th:action="@{/event/save}" th:method="post" enctype="multipart/form-data" class="space-y-6">

            <div>
                <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Event Name</label>
                <input type="text" id="name" name="name" placeholder="Enter event name" required
                       class="w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
            </div>

            <div>
                <label for="capacity" class="block text-sm font-medium text-gray-700 mb-1">Event Capacity</label>
                <input type="number" id="capacity" name="capacity" placeholder="Enter event capacity" required
                       class="w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div>
                <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Event Description</label>
                <textarea id="description" name="description" rows="3" placeholder="Enter event description"
                          class="w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500"></textarea>
            </div>

            <div>
                <label for="image" class="block text-sm font-medium text-gray-700 mb-1">Event Image</label>
                <input type="file" id="image" name="image"
                       class="w-full p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
            </div>

            <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-lg shadow-lg hover:bg-blue-700 focus:ring-2 focus:ring-indigo-500 transition duration-300">
                Add Event
            </button>

        </form>

    </div>

</section>

</body>
</html>