<!DOCTYPE html>
<html class="dark" lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 ">

<section class="mt-12 flex justify-center items-center p-4">
    <div class="main m-4 w-full"><div class="container mx-auto mt-8">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">Available Amenities</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6">
                <div th:each="amenity : ${amenities}" class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">
                    <h3 class="text-lg font-bold text-gray-700 mb-2" th:text="${amenity.name}">Amenity Name</h3>
                    <p class="text-gray-600 text-sm mb-4" th:text="${amenity.description}">Amenity Description</p>
                    <p class="text-gray-500 text-xs"
                       th:text="'Added on: ' + (${amenity.createdAt != null} ? ${#temporals.format(amenity.createdAt, 'yyyy-MM-dd')} : 'N/A')">
                        Added on: 2024-11-20
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>

</body>
</html>
