
<div class="bg-white shadow-lg rounded-lg p-6 mb-8 w-full">
    <form th:action="@{/all}" method="GET" class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <!-- Price Range -->
        <div class="flex flex-col">
            <label for="minPrice" class="text-sm font-medium text-gray-600">Min Price (INR)</label>
            <input type="number" id="minPrice" name="minPrice" placeholder="100"
                   class="border rounded-lg p-2 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-300">
        </div>
        <div class="flex flex-col">
            <label for="maxPrice" class="text-sm font-medium text-gray-600">Max Price (INR)</label>
            <input type="number" id="maxPrice" name="maxPrice" placeholder="1000"
                   class="border rounded-lg p-2 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-300">
        </div>

        <!-- Room Type -->
        <div class="flex flex-col">
            <label for="roomType" class="text-sm font-medium text-gray-600">Room Type</label>
            <select id="roomType" name="roomType"
                    class="border rounded-lg p-2 mt-1 focus:outline-none focus:ring-2 focus:ring-gray-300">
                <option value="" selected>All</option>
                <option th:each="type : ${roomTypes}" th:value="${type.id}" th:text="${type.typeName}">
                </option>
            </select>
        </div>

        <div class="flex items-end">
            <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600 transition duration-300">
                Apply Filters
            </button>
        </div>

    </form>
</div>