<!DOCTYPE html>
<html class="dark" lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{employee/base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200 ">

<section class="mt-12 flex justify-center items-center p-4">
    <div class="w-full max-w-md bg-white shadow-md rounded-lg posts ">
        <div class="bg-blue-600 text-white text-center text-xl nav-bar-ul font-semibold rounded-t-lg p-4">
            Change Password
        </div>

        <th:block th:if="${message != null}">
            <p class="text-center session-msg text-green-500 text-lg mt-4">[[${message}]]</p>
        </th:block>

        <th:block th:if="${error != null}">
            <p class="text-center session-msg text-red-500 text-lg mt-4">[[${error}]]</p>
        </th:block>

        <div class="p-4">
            <form th:action="@{/employee/change-password}" method="post">
                <div class="mb-4">
                    <label for="currentPassword" class="block text-gray-700">Current Password</label>
                    <input type="password" id="currentPassword" name="currentPassword" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
                </div>

                <div class="mb-4">
                    <label for="newPassword" class="block text-gray-700">New Password</label>
                    <input type="password" id="newPassword" name="newPassword" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
                </div>

                <div class="mb-4">
                    <label for="confirmPassword" class="block text-gray-700">Confirm New Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
                </div>

                <button type="submit" class="bg-blue-600 nav-a text-white font-bold py-2 px-4 w-full rounded hover:bg-blue-700">
                    Change Password
                </button>
            </form>
        </div>
    </div>


</section>

</body>
</html>
